# Server configuration
PORT=8080
ENV=development # development, staging, production

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=capstone_db
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# JWT configuration
JWT_SECRET=supersecretjwtkeychangeinproduction
JWT_EXPIRATION_HOURS=72
